:root {
    --dark_blue: #1a237e;
    --pale_blue: #3f51b5;
    --accent: #7986cb;
    --background_blue: #e8eaf6;
    --text: #121212;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background_blue);
    color: var(--text);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  nav {
    background-color: var(--dark_blue);
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .heading1, .heading2 {
    color: var(--dark_blue);
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--accent);
    border-radius: 4px;
  }
  
  button {
    background-color: var(--pale_blue);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	width: 110px;
	margin-bottom: 10px;
  }
  
  button:hover {
    background-color: var(--dark_blue);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid var(--accent);
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: var(--pale_blue);
    color: white;
  }

